<div class="header-container">
  <mat-toolbar class="menu" color="primary">
    <a class="logo" href="/">Custom Toolbar</a>
    <nav mat-tab-nav-bar color="warn">
      <a mat-tab-link
         *ngFor="let link of navLinks"
         [routerLink]="link.path"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive"
         [routerLinkActiveOptions]="{exact: true}">
        {{link.label}}
        <span *ngIf="(link.label === 'Invoices') && ((invoicesCount$ |async) !== 0)">({{invoicesCount$ | async}})</span>
      </a>
    </nav>
    <button mat-flat-button>new invoice</button>
  </mat-toolbar>
</div>
