.menu{
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  .logo{
    text-decoration: none;
    color: #fff;
  }
  nav{
    a{
      font-size: 16px;
      color: #fff;
      padding: 10px;
    }
  }

}
