<h1 class="modal__title" mat-dialog-title>Are you shure You want to leave this page?</h1>
<div modal__area-wrap mat-dialog-content>
  <p class="modal__text">All unsaved data will be lost</p>
</div>
<div mat-dialog-actions class="modal__area-wrap" >
  <button mat-button mat-raised-button class="modal__btn" color="primary" (click)="leaveOrNot(false)" cdkFocusInitial>Stay</button>
  <button mat-button mat-raised-button class="modal__btn" color="warn" (click)="leaveOrNot(true)">Leave</button>
</div>
