<div class="invoice-container">
  <form class="invoice-template" [formGroup]="invoiceForm" (ngSubmit)="createInvoice()">
    <div class="invoice__info-area">

      <div class="info-area__id">
        <div class="info-area__customer-name">
          <mat-form-field>
            <mat-select placeholder="Select name" formControlName="customer_id">
              <mat-option *ngFor="let customer of (customers$ | async)" [value]="customer._id">
                {{customer.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="info-area__product product">
        <div class="product__header">
          <div class="product__cell product__cell-product">Product</div>
          <div class="product__cell product__cell-qty">Qty</div>
          <div class="product__cell product__cell-price">Price</div>
        </div>
        <div class="product__body" formArrayName="items">
          <div class="product__item" [formGroupName]="i" *ngFor="let item of items.controls; let i = index">
<!--            <app-invoice-item
              [item]="item"
            ></app-invoice-item>
            -->

            <div class="product__cell product__cell-product">
              <mat-form-field product__form-fied-product>
                <mat-select placeholder="Select product" formControlName="product_id">
                  <mat-option *ngFor="let product of (products$ | async)" [value]="product._id">
                    {{product.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="product__cell product__cell-qty">
              <mat-form-field>
                <input matInput type="number" min="1" formControlName="quantity">
                <mat-error
                  *ngIf="(item.get('quantity').dirty || item.get('quantity').touched)
                   && item.get('quantity').hasError('required')"
                > required </mat-error>
                <mat-error
                  *ngIf="(item.get('quantity').dirty || item.get('quantity').touched)
                   && item.get('quantity').hasError('min')"
                > min 1</mat-error>
              </mat-form-field>
            </div>
            <div class="product__cell product__cell-price">$ {{ item.get('price').value | number : '1.2-2' }}</div>
            <button
              mat-button
              mat-raised-button
              class="invoice__submit-btn"
              color="warn"
              type="button"
              (click)="deleteProductField(i)"
            >delete
            </button>
          </div>
        </div>
        <div class="product__body" [formGroup]="formNewItems">
          <div class="product__item">
            <div class="product__cell product__cell-product">
              <mat-form-field product__form-fied-product>
                <mat-select placeholder="Select product" formControlName="product_id">
                  <mat-option *ngFor="let product of (products$ | async)" [value]="product._id">
                    {{product.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="product__cell product__cell-qty">
              <mat-form-field>
                <input matInput type="number" formControlName="quantity">
              </mat-form-field>
            </div>
            <div class="product__cell product__cell-price">$ 0</div>
            <div style="width: 70px"></div>
          </div>
        </div>
      </div>

      <div class="info-area__total-area">
        <div class="total-area__title">Total</div>
        <div class="total-area__value">$ {{total.value | number : '1.2-2'}}</div>
      </div>
      <div class="invoice__submit-btn-wrap">
        <button
          mat-button
          mat-raised-button
          class="invoice__submit-btn"
          color="primary"
          type="submit"
          [disabled]="!invoiceForm.valid || ((status$ | async).loading)"
        >Save Invoice
        </button>
      </div>
    </div>
    <div class="invoice__discount-area">
      <div class="discount-area__title">Discount %</div>
      <div class="discount-area__amount">
        <mat-form-field>
          <input matInput type="number" min="0" max="50" formControlName="discount">
          <mat-error
            *ngIf="(discount.dirty || discount.touched) && discount.hasError('min')"
          > must be 0 or more </mat-error>
          <mat-error
            *ngIf="(discount.dirty || discount.touched) && discount.hasError('max')"
          > must be under 50 </mat-error>
          <mat-error
            *ngIf="(discount.dirty || discount.touched) && discount.hasError('required')"
          > required field </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>





