* {
  box-sizing: border-box;
}
.invoice{
  &-container{
    padding: 30px 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
  }
  &-template{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  &__info-area {
    max-width: 650px;
    .mat-header-cell, .mat-cell{
      justify-content: center;
    }
    .mat-table {
      width: 650px;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    .number{
      min-width: 15px;
    }
    .products {
      min-width: 200px;
    }
    .qty {
      min-width: 20px;
    }
    .price {
      min-width: 30px;
    }
  }
  &__discount-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__submit-btn-wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
.info-area {
  &__title {
    margin-bottom: 15px;
  }
  &__id {
    margin-bottom: 20px;
  }
  &__customer-name {
  }
  &__total-area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}
.product {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  &__header, &__body, &__item {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  &__header {
    background-color: #4286f4;
    color: #fff;
    padding-right: 70px;
    .product__cell {
      margin: 20px;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
  }
  &__item {
    border-bottom: 2px solid #4286f4;
    width: 100%;
  }
  &__cell {
    margin: 14px 20px 0px;
    &-product {
      min-width: 200px;
    }
    &-qty {
      .mat-form-field {
        width: 60px;
      }
    }
    &-price {
      width: 80px;
      text-align: center;
    }
  }
}
.total-area {
  &__value, &__title {
    text-align: center;
    padding: 8px 10px;
  }
  &__title {
    width: 55%;
    background-color: #4286f4;
    color: #fff;
  }
  &__value {
    border: 1px solid #999;
    width: 35%;
  }
}
.discount-area{
  &__title, &__amount {
    text-align: center;
  }
  &__title {
    margin-bottom: 15px;
    padding: 8px 10px;
    background-color: #4286f4;
    color: #fff;
  }
}
