<form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">

  <div>
    Id: #
    <span>1</span>
  </div>


  <div>
    Product:
    <select formArrayName="product_id" (change)="changeSelect($event.target.value)">
      <option [ngValue]="null"></option>
      <option *ngFor="let product of (products$ | async)" [ngValue]="product.name">
        {{product.name}}
      </option>
    </select>
  </div>


  <div>
    Name:
    <select formControlName="customer_id">
      <option *ngFor="let customer of (customers$ | async)" [ngValue]="customer.name">
        {{customer.name}}
      </option>
    </select>


    <!--<input type="text" formControlName="name">-->
  </div>

  <div>
    Discount:
    <input type="text" formControlName="discount">
  </div>

  <div>
    Quantity:
    <input type="text" formControlName="quantity">
  </div>

  <div>
    Total:
    <span ></span>
  </div>
  <button type="submit" [disabled]="!invoiceForm.valid">Submit</button>
</form>
